<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="../../../assets/slide-4.png" />
        <h2>Welcome to AnyWok?</h2>
        <p>
          <b>AnyWok?</b> is a practical preview of the ionic framework in
          action, and a demonstration of proper code use.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/slide-1.png" />
      <h2>Who is a Worker?</h2>
      <p>
        A <b>Worker</b> is an open source SDK that enables developers to build
        high quality mobile apps with web technologies like HTML, CSS, and
        JavaScript.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/slide-2.png" />
      <h2>Who is an Employer?</h2>
      <p>
        An <b>Employer</b> is a powerful set of services and features built on
        top of Ionic Framework that brings a totally new level of app
        development agility to mobile dev teams.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/slide-3.png" />
      <h2>Ready to Proceed?</h2>
      <ion-button fill="clear" routerLink="/register"
        >Continue as Worker<ion-icon slot="end" name="arrow-forward"></ion-icon
      ></ion-button>
      <ion-button fill="clear" routerLink="/home"
        >Continue as Employer<ion-icon
          slot="end"
          name="arrow-forward"
        ></ion-icon
      ></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
