<ion-header>
  <ion-toolbar color="dark">
    <ion-title>worker@email.com</ion-title>
    <ion-icon name="log-out-outline" slot="end" id="logout-icon"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-center">
    <img src="../../../assets/silhouette.png" id="ava" />
    <h3>Hello, worker</h3>

    <h4>This week's performance</h4>
    <img src="../../../assets/line-chart.png" id="chart" />

    <ion-list>
      <ion-list-header>Regular Employers</ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/silhouette.png" />
        </ion-avatar>
        <ion-label>Lorem ipsum</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/silhouette.png" />
        </ion-avatar>
        <ion-label>
          <h3>Lorem ipsum</h3>
          <p>dolor sit amet</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/silhouette.png" />
        </ion-avatar>
        <ion-label>
          <h3>Lorem ipsum</h3>
          <p>dolor sit amet</p>
          <p>consectetur adipiscing elit. Duis ut urna neque.</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
