<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center ion-padding app-title">
      AnyWok?
    </ion-title>
    <ion-item color="dark">
      <ion-label>Search for</ion-label>
      <ion-select
        placeholder="Select one"
        ok-text="OK"
        cancel-text="Cancel"
        [(ngModel)]="category"
        (ionChange)="showSelected()"
      >
        <ion-select-option class="item-option" value="mechanic"
          >mechanic</ion-select-option
        >
        <ion-select-option value="plumber">plumber</ion-select-option>
        <ion-select-option value="laundry">laundry</ion-select-option>
        <ion-select-option value="electrician">electrician</ion-select-option>
        <ion-select-option value="cleaner">cleaner</ion-select-option>
        <ion-select-option value="nanny">nanny</ion-select-option>
        <ion-select-option value="tutor">tutor</ion-select-option>
        <ion-select-option value="carpenter">carpenter</ion-select-option>
        <ion-select-option value="generator tech"
          >generator technician</ion-select-option
        >
        <ion-select-option value="waste remover"
          >waste disposal</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-title size="large">AnyWok?</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="mapId"></div>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" routerLink="/settings">
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/favourites">
        <ion-icon name="heart"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/about">
        <ion-icon name="information"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
